/* General styles */
@import url('https://fonts.googleapis.com/css?family=Roboto');

*, *::after, *::before{
    box-sizing: border-box;
}

:root{
    --clr-primary: hsl(207, 44%, 49%);
    --clr-primary-light: hsl(214, 32%, 91%);
    --clr-primary-dark: hsl(207, 44%, 40%);

    --clr-accent: hsl(39, 78%, 51%);

    --clr-light: hsl(0, 0%, 98%);
    --clr-semi-light: hsl(0, 0%, 80%);
    --clr-dark: hsl(0, 0%, 39%);

    --fs-small: .8rem;
    --fs-medium: 1rem;
    --fs-large: 1.5rem;
    --fs-x-large: 2rem;

    --fw-bold: 600;
}

body, 
html{
    height: 100%;
    margin: 0;
    font-family: "Roboto";
}

p,
h1,
h2,
h3{
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

/* Layout */

.container{
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    height: 100%;
}

.header{
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr min-content;
    gap: 10px;
    z-index: 5;
}

.sidebar{
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    z-index: 10;
}

.main{
    display: grid;
    grid-template: min-content 1fr / 1fr 300px;
    gap: 20px 15px;
}

.sidebar > ul{
    display: grid;
    gap: 10px;
}

.sidebar > ul > li{
    display: grid;
    grid-template-columns: 20px 1fr;
    justify-items: start;
    gap: 5px;
}

.sidebar > ul > li > i{
    justify-self: center;
}

.search{
    display: grid;
    align-items: center;
}

.user-bar{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 10px;
    align-items: center;
}

.user-hello{
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 10px;
    align-items: center;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
}

.announcements-wrapper,
.projects-wrapper,
.trending-wrapper{
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 10px;
}

.projects-wrapper{
    grid-row: 1 / -1;
}

.trending-wrapper{
    align-items: start;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 300px;
    gap: 20px;
}

.project{
    display: grid;
    grid-template-rows: 1fr min-content;
    border-left: 10px solid var(--clr-accent);
}

.project-info{
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 10px;
}

.project-buttons{
    justify-self: end;
}

.announcements{
    display: grid;
    gap: 10px;
}

.announcement{
    display: grid;
    gap: 10px;
}

.trending{
    display: grid;
    gap: 10px;
}

.trending-post{
    display: grid;
    gap: 10px;
    grid-template-columns: min-content 1fr;
}

.post-description{
    display: grid;
    gap: 5px;
}

/* Components */

.header,
.sidebar,
.main,
.project,
.announcements,
.trending{
    padding: 15px;
}

.announcements,
.trending,
.project{
    border-radius: 5px;
}

.announcement:not(:first-child){
    border-top: 1px solid var(--clr-semi-light);
    padding-top: 15px;
}

.announcement:not(:last-child){
    padding-bottom: 10px;
}

/* Buttons */

button{
    cursor: pointer;
    color: var(--clr-light);
    background-color: var(--clr-primary);
    padding: .5rem 1rem;
    border: none;
    border-radius: 1rem;
    font-weight: bold;
}

button:hover{
    background-color: var(--clr-primary-dark);
}

.buttons > button{
    width: 5rem;
}

.project-buttons > button{
    width: 3rem;
}

/* Input */

input{
    background-color: var(--clr-primary-light);
    padding: .5rem 1rem;
    border: none;
    border-radius: 1rem;
    min-width: 40%;
}

input::placeholder{
    color: var(--clr-dark);
}

/* Utility classes */

.bgc-primary{
    background-color: var(--clr-primary);
}

.bgc-primary-light{
    background-color: var(--clr-primary-light);
}

.bgc-light{
    background-color: var(--clr-light);
}

.text-clr-light{
    color: var(--clr-light);
}

.text-clr-dark{
    color: var(--clr-dark);
}

.box-shadow{
    box-shadow: 2px 2px .2rem var(--clr-semi-light);
}

.img-small{
    width: 32px;
}

.img-medium{
    width: 64px;
}

.fs-small{
    font-size: var(--fs-small);
}

.fs-medium{
    font-size: var(--fs-medium);
}

.fs-large{
    font-size: var(--fs-large);
}

.fs-x-large{
    font-size: var(--fs-x-large);
}

.fw-bold{
    font-weight: var(--fw-bold);
}